---
import '../styles/global.css'

import Layout from '../layouts/Layout.astro'
---

<Layout title="Patrick Vilchez">
	<div class="container">
		<div class="header">
			<div class="presentation">
				<div>
					<h1>Patrick Vilchez</h1>
					<h3>Web Developer Backend</h3>
					<span>#Python #Django #NodeJS #Docker</span>
				</div>

				<i class="fa-solid fa-link fa-lg"></i>
			</div>
		</div>

		<div class="links">
			<a id="link" href="https://github.com/Patrick564" target="_blank">
				<span>GitHub</span>
				<i class="fa-brands fa-github fa-2x"></i>
			</a>
			<a id="link" href="https://www.linkedin.com/in/patrick-vilchez/" target="_blank">
				<span>LinkedIn</span>
				<i class="fa-brands fa-linkedin-in fa-2x"></i>
		  </a>
			<a id="link" href="https://t.me/pod794" target="_blank">
				<span>Telegram</span>
				<i class="fa-brands fa-telegram fa-2x"></i>
			</a>
			<a id="link" href="https://patrick-vilchez.dev/" target="_blank">
				<span>Portfolio</span>
				<i class="fa-solid fa-folder fa-2x"></i>
			</a>
			<a id="link" href="https://drive.google.com/file/d/1iQwB8Qr_4dmPB0IowWulLLvIuU4i2ehk/view" target="_blank">
				<span>Resume</span>
				<i class="fa-solid fa-file fa-2x"></i>
			</a>
		</div>
	</div>
</Layout>
